# Puerto en el que corre el backend
PORT=3000

# Token del bot Instrucciones para sacar
# Instalar telegram
# Mandar mensaje al bot @BotFather el comando /newbot y seguir las instrucciones como darle el nombre
# este mandara un mensaje con el token y este va aca
BOT_TOKEN=

# para sacar el chat_id debemos mandarle un mensaje al bot de telegram y buscar en google
# https://api.telegram.org/botTU_TOKEN/getUpdates este devolverá un JSON con un arreglo 
# con los mensajes que recibió, tomar el id correspondiente y colocarlo aca
CHAT_ID=

# Password de la bd
PG_PASSWORD=

# base de datos que usaremos de obviamente la base de datos XD
PG_DATABASE=

# Url de conexión
DATABASE_URL="postgresql://postgres:TU_PASSWORD@localhost:5432/TU_DB?schema=public"